<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Framework.E2Eproject.Listeners"></listener>
</listeners>
  <test name="validating login information">
    <classes>
      <class name="Framework.E2Eproject.Login"/>
      </classes>
      </test>
        <test name="validating tiltle and nav bar in the page">
    <classes>
      <class name="Framework.E2Eproject.ValidateTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
